.check-list-item-box {
	margin-right: 20em;
	margin-bottom: 1em;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid #282828;
}

.check-list-item-checkbox {
	margin-right: 2em;
	accent-color: #424242; /* checked box color */
}

.check-list-item-text {
	background: transparent; /* this is to remove the default white box in the background of the input */
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 2em;
	outline: none; /* this is to remove that blue focus square when you click in the input */
	color: #808080
}

.remove-task-button {
	float: right; /* this places the button to the right */
  appearance: none;
  background-color: #202020;
  box-shadow: 0 0 10px #101010;
  color: #424242;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10px;
  font-size: 1.2em;
}

.remove-task-button:active {
  background-color: #191919
}
